<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login - Minha Grana</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body class="login-bg">
  <div class="login-container">
    <a href="/" class="btn-voltar">← Voltar para Home</a>

    <h1>Minha Grana</h1>
    <p>Gerencie seu dinheiro de forma inteligente</p>
    <h3>LOGIN</h3>

    <form method="POST" action="/login">
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <a href="#">Esqueci minha senha</a>
      <button type="submit">Entrar</button>
    </form>

    <p class="cadastro-link">Não possui uma conta? <a href="/cadastro">Cadastre-se aqui!</a></p>
  </div>

  {{#loginError}}
  <script>
    alert("Login inválido! Email ou senha incorretos.");
  </script>
  {{/loginError}}

</body>
</html>
